AI Agent Orchestrator/2.2_contact.json
{
  "name": "2.2_contact",
  "nodes": [
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "apps2V2wfxj97aqkG",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/apps2V2wfxj97aqkG"
        },
        "table": {
          "__rl": true,
          "value": "tblnpq8rcDo6ZxQU3",
          "mode": "list",
          "cachedResultName": "Form_Submission",
          "cachedResultUrl": "https://airtable.com/apps2V2wfxj97aqkG/tblnpq8rcDo6ZxQU3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI(\"name\") }}",
            "email": "={{ $fromAI(\"emailAddress\") }}",
            "phoneNumber": "={{ $fromAI(\"phoneNumber\") }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        144,
        240
      ],
      "id": "f74378d6-7925-4861-9eba-3fa70090ce95",
      "name": "Add or Update Contact",
      "credentials": {
        "airtableTokenApi": {
          "id": "UlvPSV6ceIV58cQv",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contact\" to retrieve contact information.Do not ask for full name or something just search for name and return the best macth one\n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -176,
        -16
      ],
      "id": "63ac644e-8106-42cc-8a01-299602077922",
      "name": "Contact Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        224
      ],
      "id": "102fe5fc-9933-436a-97fc-90a961d18a29",
      "name": "Gemini 2.0 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "ZK35PW2faUCDhzkw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        0
      ],
      "id": "638c042c-148d-4ba1-ba36-1e29b0c73a27",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contact_information",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `compare the input name with it, return even if it not fully matched, do not judge on the basis of case `, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -112,
        208
      ],
      "id": "dbc44148-cc94-4949-8fdc-21b88c0ff0f6",
      "name": "Get a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "9sNxCGUjWnjFWoqx",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c5c5a18-24bb-4c5a-8ceb-377627ae231b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c698e54b156816240aaa2300368dbb84564bbffbb9a201499f5b010dac883104"
  },
  "id": "geWz04dY8GuLEEkm",
  "tags": []
}